@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 3) {
  
    nav a,nav ul,nav li{
      font-size: 1rem;
      font-weight: 300;
  }
  
  .nav-img img{
    width: 50%;
  }

 .intro-text h2{
    font-weight: 300;
    font-size: 1.5rem;
  }

.intro-text p{
  font-size: 1rem;
  font-weight: 200;
  
}

.intro-text button{
  width: 50%;
}

.grid{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.grid h3{
  padding: 5px;
}

.grid p{
  text-align: center;
  padding: 5px;
}

.stay{
  display: flex;
  flex-direction: column;
  margin: 0 5%;
}

.stay-text{
  text-align: center;
  padding: 10px;
}

.stay-text h2{
 margin-top: 9%;
}

.card{
  display: grid;
  grid-template-columns: auto;
  margin: 7% 5% 23% 5%;
  }

  .form{
    position: absolute;
    z-index: 4;
    padding: 15px;
    width: 85%;
    height: fit-content;
    margin: 240% auto 30% auto;
  
  }

  .form h2{
    font-size: 1.6rem;
  }
  
  .form p{
    font-size: 1.2rem;
    margin: 7px 0;
  }

  .form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  
  input[type="email"]{
    width:80%;
    margin: 15px;
  }

  input[type="button"]{
    width: 70%;
    margin-left: 30px;
  }
  footer{
    background-color: transparent;
    position: relative;
  }
  
  
  .footer{
    padding: 70% 10%;
  }
  
  .footer-div{
    display: flex;
    flex-direction: column;
  }
  
  .flex1{
    display: flex;
  }
  
  .flex1 p{
    padding: 30px;
  }
  
  .flex1 img{
    height: 20px;
  }
  
  .flex2{
    padding: 0 45px;
  }
  
  .flex2 img{
    padding-right: 25px;
  }
  
  .flex2 img[alt="email"]{
    padding-top: 15px;
  }
  
  .foot1 ul, .foot1 li{
    list-style: none;
    padding: 0 40px;
    line-height: 40px;
  }
  
  .foot2 ul, .foot2 li{
    list-style: none;
    line-height: 40px;
  }
  
  .face{
    border-radius: 50px;
    border: 1px solid white;
    padding: 5px;
    margin-left: 6px;
  }
}
  
  
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    nav a,nav ul,nav li{
      font-size: 1rem;
      font-weight: 300;
  }
  
  .nav-img img{
    width: 50%;
  }

 .intro-text h2{
    font-weight: 300;
    font-size: 1.8rem;
  }

.intro-text p{
  font-size: 1.3rem;
  font-weight: 250;
  
}

.intro-text button{
  width: 50%;
}

.grid{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.grid h3{
  padding: 5px;
}

.grid p{
  text-align: center;
  padding: 5px;
}

.stay{
  display: flex;
  flex-direction: column;
  margin: 0 5%;
}

.stay-text{
  text-align: center;
  padding: 10px;
}

.stay-text h2{
 margin-top: 9%;
}

.card{
  display: grid;
  grid-template-columns: auto;
  margin: 7% 5% 23% 5%;
  }

  .form{
    position: absolute;
    z-index: 4;
    padding: 15px;
    width: 85%;
    height: fit-content;
    margin: 240% auto 30% auto;
  
  }

  .form h2{
    font-size: 1.6rem;
  }
  
  .form p{
    font-size: 1.2rem;
    margin: 7px 0;
  }

  .form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  
  input[type="email"]{
    width:80%;
    margin: 15px;
  }

  input[type="button"]{
    width: 70%;
    margin-left: 30px;
  }
  footer{
    background-color: transparent;
    position: relative;
  }
  
  
  .footer{
    padding: 70% 10%;
  }
  
  .footer-div{
    display: flex;
    flex-direction: column;
  }
  
  .flex1{
    display: flex;
  }
  
  .flex1 p{
    padding: 30px;
  }
  
  .flex1 img{
    height: 20px;
  }
  
  .flex2{
    padding: 0 45px;
  }
  
  .flex2 img{
    padding-right: 25px;
  }
  
  .flex2 img[alt="email"]{
    padding-top: 15px;
  }
  
  .foot1 ul, .foot1 li{
    list-style: none;
    padding: 0 40px;
    line-height: 40px;
  }
  
  .foot2 ul, .foot2 li{
    list-style: none;
    line-height: 40px;
  }
  
  .face{
    border-radius: 50px;
    border: 1px solid white;
    padding: 5px;
    margin-left: 6px;
  }

}

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    
}

@media screen 
  and (device-width: 601px) 
  and (device-height: 906px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) {

}


@media only screen 
  and (max-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .show{
      display: none;
    }

    .hamburger{
      display: block
    }

}



@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
  }